body{
    background: black;
}
h3, h2, h4, h5{
    color: white;
}
p{
    color: white;
}
h1 span:nth-child(1){
    color: white;
}
.two_2, .two_3, .two_4, .two_5, .two_6{
    background-color: black;
}
.header_two_2, .header_two_3, .header_two_4, .header_two_5, .header_two_6{
    color: white;
}
.in img{
    filter: brightness(0) invert(100%);
}
.inf_6a img{
    filter: brightness(0) invert(100%); 
}